<ion-content [fullscreen]="true">
  <div class="panel-container">
    <div class="board-container">
      <div [id]="boardId"></div>
    </div>
    
    <!-- <div class="panel-element">
      <div class="level-bar">
        Juegan: <div [ngClass]="userColor"></div> Elo: {{userRating}} | Theme: {{theme}}
      </div>    
      <ion-button class="button-control-element" color="medium" (click)="showSolution()">
        Solution
      </ion-button>
      <ion-button class="button-control-element" color="medium" (click)="nextPuzzle()">
        Next
      </ion-button>
      <ion-button class="button-control-element" color="medium" (click)="openSettings()">
        Settings
      </ion-button>
    </div> -->
  </div>
</ion-content>