<div class="modal-container">
  <ion-item>
    <ion-label>{{dificultyValues[dificultyValue].text}}</ion-label>
    <ion-range [(ngModel)]="dificultyValue" min="0" max="4" step="1" snaps="true" color="medium">hehe</ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select [(ngModel)]="theme" okText="Select" >
      <ion-select-option *ngFor="let option of themes" [value]="option">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="closeModal()" class="close-modal-button" color="medium">start</ion-button>
</div>
