<div class="modal-container">
  <ion-item>
    <ion-label>{{dificultyValues[dificultyValue] | translate | async}}</ion-label>
    <ion-range [(ngModel)]="dificultyValue" min="0" max="4" step="1" snaps="true" color="medium"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label>{{'Theme' | translate | async}}</ion-label>
    <ion-select [(ngModel)]="theme" okText="Select" >
      <ion-select-option *ngFor="let option of themes" [value]="option">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="buttons-container">
    <ion-button expand="full" [routerLink]="'/home'" (click)="cancel()" skipLocationChange routerDirection="root" class="close-modal-button" color="medium">{{'cancel' | translate | async}}</ion-button>
    <ion-button expand="full" (click)="closeModal()" class="close-modal-button" color="medium">{{'start' | translate | async}}</ion-button>
  </div>
</div>
