.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .board-container-element {
        width: 65vmin;
        height: 65vmin;
        margin: 16px auto 55px auto;
    }
    .panel-element {
        width: 65vmin;
        margin: 0 auto;
        // min-width: 100%;
        // min-width: 480px;
    }
}