<div class="modal-container">


  <ion-item>
    <ion-label>{{'color'| translate | async}}</ion-label>
    <ion-select [(ngModel)]="userColor" [okText]="'okText' | translate | async" [cancelText]="'cancelText' | translate | async">
      <ion-select-option value="w">{{'white' | translate | async}}</ion-select-option>
      <ion-select-option value="b">{{'black' | translate | async}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{'opening' | translate | async}}</ion-label>
    <ion-select [(ngModel)]="opening" [okText]="'select' | translate | async" [cancelText]="'cancel' | translate | async">
      <ion-select-option *ngFor="let option of openingOptions" [value]="option">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="buttons-container">
    <button expand="full" [routerLink]="'/home'" (click)="cancel()" skipLocationChange routerDirection="root"
      class="windows-button" color="medium">{{'cancel' | translate | async}}</button>
    <button expand="full" (click)="closeModal()" class="windows-button" color="medium">{{'start' | translate |
      async}}</button>
  </div>
</div>