.button-promotion-element {
  height: 80px;
  width: 90px;
}
.buttons-promotion-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  span {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.modal-color-w {
    .button-promotion-element {
      span.q {
        background-image: url('/assets/images/pieces/merida/wQ.svg'), url('/assets/images/pieces/merida/wQ.svg'); 
      }
      span.r {
        background-image: url('/assets/images/pieces/merida/wR.svg'), url('/assets/images/pieces/merida/wR.svg'); 
      }
      span.b {
        background-image: url('/assets/images/pieces/merida/wB.svg'), url('/assets/images/pieces/merida/wB.svg'); 
      }
      span.n {
        background-image: url('/assets/images/pieces/merida/wN.svg'), url('/assets/images/pieces/merida/wN.svg'); 
      }
    }
  }
  &.modal-color-b {
    .button-promotion-element {
      span.q {
        background-image: url('/assets/images/pieces/merida/bQ.svg'), url('/assets/images/pieces/merida/bQ.svg'); 
      }
      span.r {
        background-image: url('/assets/images/pieces/merida/bR.svg'), url('/assets/images/pieces/merida/bR.svg'); 
      }
      span.b {
        background-image: url('/assets/images/pieces/merida/bB.svg'), url('/assets/images/pieces/merida/bB.svg'); 
      }
      span.n {
        background-image: url('/assets/images/pieces/merida/bN.svg'), url('/assets/images/pieces/merida/bN.svg'); 
      }
    }    
  }
}
