<div class="buttons-promotion-container" [ngClass]="color">
  <button class="windows-button button-promotion-element" color="medium" (click)="closeModal('q')">
    <span class="q"></span>
  </button>
  <button class="windows-button button-promotion-element" color="medium" (click)="closeModal('r')">
    <span class="r"></span>
  </button>
  <button class="windows-button button-promotion-element" color="medium" (click)="closeModal('b')">
    <span class="b"></span>
  </button>
  <button class="windows-button button-promotion-element" color="medium" (click)="closeModal('n')">
    <span class="n"></span>
  </button>
</div>
