<div class="buttons-promotion-container" [ngClass]="color">
  <ion-button class="button-promotion-element" color="medium" (click)="closeModal('q')">
    <span class="q"></span>
  </ion-button>
  <ion-button class="button-promotion-element r" color="medium" (click)="closeModal('r')">
    <span class="r"></span>
  </ion-button>
  <ion-button class="button-promotion-element b" color="medium" (click)="closeModal('b')">
    <span class="b"></span>
  </ion-button>
  <ion-button class="button-promotion-element n" color="medium" (click)="closeModal('n')">
    <span class="n"></span>
  </ion-button>
</div>