<div class="modal-container">
  <ion-item>
    <ion-label>{{'languages' | translate | async}}</ion-label>
    <ion-select [(ngModel)]="language" (ionChange)="updateLanguage()" [okText]="'select' | translate | async"
      [cancelText]="'cancel' | translate | async">
      <ion-select-option *ngFor="let lan of languages" [value]="lan.key">{{lan.value}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
  </ion-item>
  <div class="terminal">
    <div class="table-title">
      {{'about' | translate | async}}
    </div>
<pre>
C:\Tato> ./about
C:\Tato> Un entrenador de aperturas 
  para gente quepierde ELO 
  nada más empezar la partida.
  Gratis y de código abierto.

C:\Tato> Si quieres 
 mejorar tu nivel,
 puedes contactar con
 la Maestra Fide
 Liliam Bárbara Blanco García 
 <a href="mailto:liliamb2109&#64;gmail.com">liliamb2109&#64;gmail.com</a> 
 para que te ayude a 
 mejorar tu nivel<span class="blink">_</span>
</pre>
</div>



  <div class="buttons-container">
    <button expand="full" (click)="closeModal()" class="windows-button" color="medium">{{'accept' | translate |
      async}}</button>
  </div>
</div>