<ion-content [fullscreen]="true">
  <div class="title-bar">
    <div class="title-bar-text">{{'puzzles' | translate | async}}</div> 
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="panel-container">
    <div class="board-container">
      <div [id]="boardId"></div>
    </div>
    
    <div class="panel-element">
      <div class="level-bar">
        {{'turn' | translate | async}}: <div [ngClass]="userColor"></div> Elo: {{userRating}} | {{'theme' | translate | async}}: {{theme}}
      </div>    
      <button class="windows-button button-control-element" color="medium" (click)="showSolution()">
        {{'solution' | translate | async}}
      </button>
      <button class="windows-button button-control-element" color="medium" (click)="nextPuzzle()">
        {{'next' | translate | async}}
      </button>
      <button class="windows-button button-control-element" color="medium" (click)="openSettings()">
        {{'settings' | translate | async}}
      </button>
    </div>
  </div>
</ion-content>