.title-bar {
  background: linear-gradient(90deg, #000080, #1084d0);
  padding: 3px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13px;
  position: relative;
  top: 5px;

  .title-bar-text {
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-right: 24px;
  }

  .title-bar-controls {
    display: flex;
    button {
      width: 16px;
      height: 14px;
      border: none;
      background-color: #c0c0c0;
      margin-left: 2px;
      position: relative;
      box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px #808080,
        inset 2px 2px #dfdfdf;
    }
  }
}
.panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #c0c0c0;
  border: 2px solid #dfdfdf;
  border-bottom-color: #404040;
  border-right-color: #404040;
  box-shadow:
    inset 1px 1px #dfdfdf,
    1px 0 #000,
    0 1px #000,
    1px 1px #000;
  margin: -24px 10px 10px 10px;
  padding: 36px 10px 10px 10px;

  @media (max-width: 660px) {
    flex-direction: column;
  }
  .board-container {
    display: flex;
    flex-direction: column;
    width: 65vmin;
    height: 65vmin;
    margin: 10px;

    @media (max-width: 660px) {
      width: calc(100vmin - 52px);
      height: calc(100vmin - 52px);
      margin: 0 0 30px 0;
    }
  }

  .board-container-element {
    width: 55vmin;
    height: 55vmin;
    // margin: 16px auto 85px auto;
  }
  .panel-element {
    width: calc(100vw - 68vmin - 75px);
    margin: 20px auto;
    overflow-y: auto;
    max-height: calc(100vh - 135px);
    // max-width: 100%;
    // margin: 60px auto;
    // min-width: 100%;
    // min-width: 480px;

    @media (max-width: 660px) {
      width: 100%;
      padding: 15px 10px 0 10px;
      max-height: calc(100vh - 100vmin - 182px);
      overflow-y: auto;
    }
    .level-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media (min-width: 660px) {
        padding-top: 15px;
      }

      div.white {
        position: relative;
        top: -20px;
        margin: 0 8px;
        height: 40px;
        width: 40px;
        background-size: contain;
        background-image: url("^assets/images/pieces/merida/wK.svg"), url("^assets/images/pieces/merida/wK.svg");
      }
      div.black {
        position: relative;
        top: -20px;
        margin: 0 8px;
        height: 40px;
        width: 40px;
        background-size: contain;
        background-image: url("^assets/images/pieces/merida/bK.svg"), url("^assets/images/pieces/merida/bK.svg");
      }
    }
    .button-control-element {
      margin: 4px;
      width: 30%;
    }
  }
}

// .panel-container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//   .board-container {
//     display: flex;
//     flex-direction: column;
//     width: 70vmin;
//     height: 70vmin;
//     margin: 16px auto 55px auto;
//   }

//   .panel-element {
//     width: 55vmin;
//     margin: 10px auto;
//     // min-width: 100%;
//     // min-width: 480px;
//     .level-bar {
//       display: flex;
//       flex-direction: row;
//       div.white {
//         position: relative;
//         top: -20px;
//         margin: 0 8px;
//         height: 40px;
//         width: 40px;
//         background-size: contain;
//         background-image: url('/assets/images/pieces/merida/wK.svg');
//       }
//       div.black {
//         position: relative;
//         top: -20px;
//         margin: 0 8px;
//         height: 40px;
//         width: 40px;
//         background-size: contain;
//         background-image: url('/assets/images/pieces/merida/bK.svg');
//       }
//     }
//     .button-control-element {
//       width: 32%;
//     }
//   }
// }
