<ion-content [fullscreen]="true">

  <div class="games-container">

    <div class="game-element" (click)="sendNotification()">
      <div class="game-fen">
        <ion-icon aria-hidden="false" name="rocket-outline" class="icon-list-element"></ion-icon>
      </div>
      <div class="game-description">
        <div class="game-title">
          Send notification
        </div>
      </div>
    </div>


    <div *ngFor="let page of appPages; let i = index" class="game-element" skipLocationChange routerDirection="root" [routerLink]="[page.url]">
      <div class="game-fen" [id]="i">
        <ion-icon aria-hidden="false" [name]="page.icon" class="icon-list-element"></ion-icon>
      </div>
      <div class="game-description">
        <div class="game-title">
          {{page.title | translate | async}}
        </div>
      </div>
    </div>
  </div>

</ion-content>