/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// .line {
//     margin-top: -9% !important;
// }

@font-face {
  font-family: "W95FA";
  src:
    url("assets/fonts/MicrosoftSansSerif.woff2") format("woff2"),
    url("assets/fonts/MicrosoftSansSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.alert-wrapper {
  background-color: #c0c0c0 !important;
  border: 2px solid #dfdfdf !important;
  border-bottom-color: #404040 !important;
  border-right-color: #404040 !important;
  box-shadow:
    inset 1px 1px #dfdfdf,
    1px 0 #000,
    0 1px #000,
    1px 1px #000 !important;
  margin: 20px auto !important;

  @media (min-width: 400px) {
    min-width: 350px !important;
  }

  .alert-head {
    background: linear-gradient(90deg, #000080, #1084d0);
    padding: 18px 9px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;

    h2 {
      color: white !important;
    }
  }
  .alert-head::after {
    content: "";
    width: 18px;
    height: 18px;
    border: none;
    background-color: #c0c0c0;
    margin-left: 2px;
    position: relative;
    box-shadow:
      inset -1px -1px #0a0a0a,
      inset 1px 1px #fff,
      inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
  }
}

.alert-radio-group {
  .alert-radio-label {
    color: black !important;
    white-space: normal;
  }
  .alert-radio-icon,
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(132, 133, 132) rgb(254, 254, 254) rgb(254, 254, 254) rgb(132, 133, 132);
    background: white;
  }
  .alert-radio-inner.sc-ion-alert-md {
    background-color: black;
  }
}

.alert-button.sc-ion-alert-md,
.windows-button {
  box-sizing: border-box;
  background: rgb(198, 198, 198);
  color: rgb(10, 10, 10);
  border: none;
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 36px;
  width: auto;
  padding: 0px 10px;
  font-size: 1rem;
  user-select: none;
  font-family: inherit;

  span.alert-button-inner {
    text-transform: none;
    font-size: 14px;
  }
}
.alert-button.sc-ion-alert-md::before,
.windows-button::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(254, 254, 254) rgb(10, 10, 10) rgb(10, 10, 10) rgb(254, 254, 254);
  box-shadow:
    rgb(223, 223, 223) 1px 1px 0px 1px inset,
    rgb(132, 133, 132) -1px -1px 0px 1px inset;
}
.alert-button.sc-ion-alert-md::after,
.windows-button::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.modal-container {
  background-color: #c0c0c0 !important;
  border: 2px solid #dfdfdf !important;
  border-bottom-color: #404040 !important;
  border-right-color: #404040 !important;
  padding: 16px;
}
.modal-container::before {
  content: "";
  height: 28px;
  width: calc(100% + 29px);
  background: linear-gradient(90deg, #000080, #1084d0);
  position: relative;
  top: -16px;
  left: -15px;
}
.modal-container::after {
  content: "";
  width: 18px;
  height: 18px;
  border: none;
  background-color: #c0c0c0;
  margin-left: 2px;
  position: absolute;
  top: 7px;
  right: 8px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
}
