<ion-content [fullscreen]="true">
  <div class="title-bar">
    <div class="title-bar-text">{{'analysis' | translate | async}}</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="panel-container">
    <div class="board-container">
      <div class="evaluation-bar">
        <div class="evaluation-string" [style.color]="evaluation < -3 ? 'white' : '#5d5d5d'">{{evaluation}}</div>
        <div class="evaluation-value" [style.width.%]="evaluation | percentage"
          [style.color]="evaluation < -2 ? 'white' : '#5d5d5d'"></div>
      </div>
      <div class="board-container-element">
        <div [id]="boardId"></div>
      </div>
      <div class="control-buttons-container">
        <button class="windows-button button-control-element" color="medium" (click)="moveBackward()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <!-- <button class="windows-button button-control-element" color="medium">Reset</button>
      <button class="windows-button button-control-element" color="medium">Flip</button> -->
        <button class="windows-button button-control-element" color="medium" (click)="getPgn()" *ngIf="savedGame">{{'getPng' | translate | async}}</button>
        <button class="windows-button button-control-element" color="medium" (click)="moveForward()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
    </div>

    <app-moves-table [lines]="stockfish.lines" [moves]="algebraicMoves" [game]="game" class="panel-element"
      [savedGame]="savedGame"></app-moves-table>
  </div>
</ion-content>