<ion-content [fullscreen]="true">
  <div class="games-container">
    <div *ngFor="let game of allGames; let i = index" class="game-element" skipLocationChange routerDirection="root" [routerLink]="'/analysis/' + game.id">
      <div class="game-fen" [id]="'game-fen-' + i"></div>
      <div class="game-description">
        <div class="game-title">
          {{game.title}}
        </div>
        <div class="game-gameOpening">
          {{game.opening}}
        </div>
      </div>
    </div>
  </div>
</ion-content>